/*
 * styling for action Dialog menu
 */

div.menu {
    width: (100%-10px);
}

.menu > ul {
    position: absolute;
}

/* remove bullet points for all lists, and any indentation */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* the first-level menu is surrounded by a border */
.menu > ul {
    height:1.1em;      
    position: relative;
}

/* on the first level, use horizontal layout */
.menu > ul > li {
    float: left;
}

/* first level styling */

.menu > ul > li > span {
    padding-right: 0.2em;
    padding-left: 0.2em;
    border-right: 1px solid #333;
}

.menu > ul > li:last-child > span {
    border-right: none;
}

/* on the second level, use vertical layout, and indent a bit */
.menu > ul > li > ul {
    position: absolute;
}

.menu > ul > li > ul > li {
    display: block;
    padding-left:1em;
    padding-right:1em;
}

/* separators are a line from left to right */
.menu ul > li > ul > li.separator {
    border-style: solid;
    border-width: 1px;
    height: 0px;
    padding: 0px;
    border-color: gray;
}

/* hide submenus by default, unhide them when the parent li is hovered over */
.menu ul ul { visibility: hidden; display: none;}
.menu ul li:hover > ul { visibility: visible; display: block;}

/* don't use default styling for anchors in menus */
.menu a {
    text-decoration: none;
}

/* all text is black */
.menu * {color: black}

/* when I don't hover over an item, it has a normal background */
.menu ul ul li {
    background-color: #F6F6F6;
}
/* when I hover over a first-level item, it gets highlighted */
.menu > ul > li:hover > span {
    background-color: #ADD8E6;
}

/* when I hover over a second/third level item, it gets highlighted */
.menu > ul ul > li:hover {
    background-color: #ADD8E6;
}
