html, body {
    margin: 0;
    padding: 0;
    height:100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

img {
    vertical-align: middle;
}

#menu {
    float:left;
    width: 200px;
    height: 100%;
    background-color: #EEE;
}

#menu h2 {
    margin: 0;
    padding: 4px;
    font-size: 16px;
    color: #27408B;
    background-color: #c0c0ff;
    text-align: center;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding:  10px 0 0px 0px;
}

#menu ul li {
    margin: 0;
    padding: 0;
}

#menu ul li b, #menu ul li a {
    padding: 4px 0 4px 12px;
}

#menu ul li a {
    color: #000;
    display: block;
    margin: 0 0 0 0;
    text-decoration: none;
}

#menu #selected a {
    background-color: #CCCCCC;
}

#menu a:hover {
    background-color: #AAA;
}

#content {
    position:absolute;
    top:2px;
    left:200px;
    clear: both;
    margin: 0px 0 0px 20px;
    overflow-x: hidden;
}

/* hide sidebar and top navigation */
#content iframe[src*="https://wiki.openseamap"]{
    margin-left: -170px;
    /* margin-top: -82px; */
    width: 710px;
    height: 670px;
}




