#header li {
	float: left;
	border: 1px solid #bbb;
	border-bottom-width: 0;
	margin: 0;

}

#header li a {
	padding: 0 1em;
}

#header a {
		text-decoration: none;
		display: block;
		background: #eee;
		padding: 0.24em 1em;
		color: black;
		width: 9em;
		text-align: center;
}

#header a:hover {
		background: #ddf;
}

#header ul {
	list-style: none;
	padding:0;
	margin:0;
}

#header #selected {
	border-color: black;
}

#header #selected a {
	position: relative;
	top: 1px;
	background: white;
	color: black;
	font-weight: bold;
}

#content {
	border: 1px solid;
	clear: both;
	padding: 0 1em;
}

h1 {
	margin: 0;
	padding: 0 0 1em 0;
} 



