html,body {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0;
	overflow: hidden;
	color: #000000;
}

img {
	vertical-align: middle;
}

#map {
	height: 100%;
	width: 100%;
	padding: 0; margin: 0;
}
 
#osm {
	font-size: 0.7em;
	font-style: italic;
	margin-bottom: 20px;
}

#downloadmenu {
	margin-bottom: 5px;
	border: 3px solid #000080;
	-moz-border-radius: 8px;
	background-color: #FFF;
	padding: 5px;
}
