html,body {
	background-color: #ffffff;
	height: 100%;
	width: 100%;
	margin: 0; 
	padding: 0;
	overflow: hidden;
	color: #000000;
}

img {
	vertical-align: middle;
}

#map {
	height: 100%;
	width: 100%;
	padding: 0; margin: 0;
}
 
#osm {
	font-size: 0.7em;
	font-style: italic;
	margin-bottom: 20px;
}

#actionDialog {
	position:absolute; 
	top:50px; 
	left:60px; 
	visibility:hidden;
	border: 2px solid #000080;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
	background-color: #FFF;
	padding: 5px;
}

#routeEditPanel {
	float: left;
	display:block;
	position: relative;
	width: 102px;
}

.olControlMousePositionDM {
	bottom: 0.5em;
	right: 0.5em;
	border: 1px solid #000080;
	-moz-border-radius: 4px;
	-webkit-border-radius: 6px;
	border-radius: 6px 6px 6px 6px;
	background-color: #FFF;
	margin: 0; 
	padding: 1px;
	font-family: monospace;
}

.olControlPermalink {
	padding: 10px;
}


/**
 * -----------------------------------------------------------------------------
 * AIS layer
 * -----------------------------------------------------------------------------
 */

.ais h2 {
    font-size:16px;
    border-bottom:1px solid #484848;
}

.ais div {
    padding:2px;
    font-size:13px;
}

.ais td:first-child {
    font-size:14px;
    font-weight:normal;
    /*text-align:right;*/
    color:#808080;
    padding-right:10px;
}

.ais td {
    font-size:14px;
    font-weight:bold;
    color:#484848;
    height:18px;
}

.ais ul {
    padding:2px;
    font-size:14px;
    list-style-type:disc;
    list-style-position:inside;
    margin-top:13px;
}

.ais table {
    margin-top:13px;
}

.ais img {
    margin-right:6px;
    margin-bottom:2px;
    border:1px solid #484848;
    padding:1px;
}


/**
 * -----------------------------------------------------------------------------
 * SatPro layer
 * -----------------------------------------------------------------------------
 */

.satpro h2 {
    font-size:16px;
    border-bottom:1px solid #484848;
}

.satpro td:first-child {
    font-size:14px;
    font-weight:normal;
    /*text-align:right;*/
    color:#808080;
    padding-right:10px;
}

.satpro td {
    font-size:14px;
    font-weight:bold;
    color:#484848;
}

.satpro table {
    margin-top:13px;
}


/**
 * -----------------------------------------------------------------------------
 * Disaster layer
 * -----------------------------------------------------------------------------
 */

.disaster h2 {
    font-size:16px;
    border-bottom:1px solid #484848;
}

.disaster td:first-child {
    font-size:14px;
    font-weight:normal;
    color:#808080;
    padding-right:10px;
}

.disaster td {
    font-size:14px;
    font-weight:bold;
    color:#484848;
}

.disaster table {
    margin-top:13px;
}
