* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black !important;
}

#topmenu {
  position: absolute;
  top: 10px;
  left: 60px;
}

.menu {
  border: 2px solid #000080;
  border-radius: 6px;
  background-color: #fff;
  margin: 0;
  padding: 2px;
}

.menu label {
  cursor: pointer;
  flex: 2;
}

.menu img {
  text-decoration: none;
}

.menu img,
.menu input {
  margin-right: 5px;
}

.menu li {
  list-style: none;
  background: white;
  cursor: pointer;
  position: relative;
  padding: 2px 5px;
  display: flex;
  align-items: center;
}

.menu li:hover {
  background: #add8e6;
}

/*
    LEVEL TWO AND THREE --------------------------------------------------------
*/
.menu li > ul {
  width: 240px;
  display: none;
  position: absolute;
  border: 1px solid #ccc;
}

.menu li:hover > ul {
  display: block;
}

.menu li > ul > li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.menu li > ul > li:last-child {
  border: none;
}

/*
    LEVEL ONE--------------------------------------------------------
*/
.menu > ul {
  display: flex;
  flex-direction: row;
}

.menu > ul > li {
  border-right: 1px solid #333;
}

.menu > ul > li:last-child {
  border-right: none;
}

/*
    LEVEL TWO--------------------------------------------------------
*/
.menu > ul > li > ul {
  top: 100%;
  left: 0;
}

/*
    LEVEL THREE------------------------------------------------------
*/
.menu > ul > li > ul > li > ul {
  left: 100%;
  top: 0;
}
