input[type="text"] {
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
}

div#actionDialogMenu {
    display:block;
}

#actionDialogMenu > ul {
    border: 2px solid #000080;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px 6px 6px 6px;
    background-color: #FFF;
    margin: 0;
    padding: 1px;
}

#routeAddLine {
    cursor:pointer;
}

#routeAddLine:hover {
    background-color: #ADD8E6;
}

#routeEditLine {
    cursor:pointer;
}

#routeEditLine:hover {
    background-color: #ADD8E6;
}

#routeNavigate {
    cursor:pointer;
}

#routeNavigate:hover {
    background-color: #ADD8E6;
}

table#routeSegmentList {
    height:120px; overflow-y:auto;
}

table#routeSegmentList th {
    background-color: #CCCCCC;
    text-align: center;
}

table#routeSegmentList td {
    text-align: right;
}

table#routeSegmentList th,td:nth-child(1) { width: 20; } /* segment # */
table#routeSegmentList th,td:nth-child(2) { width: 60; } /* course */
table#routeSegmentList th,td:nth-child(3) { width: 70; } /* distance */
table#routeSegmentList th,td:nth-child(4) { width: 200; } /* coordinates */

/* even/odd coloring */
table#routeSegmentList tr:nth-child(even) { background-color: #ececec; }
